.controls {
    position: absolute;
    left: 1%;
}

.start-animation {
    background: none;
    border: 1px solid yellow;
    font-size: 110%;
    padding: 10px 20px;
    cursor: pointer;
}

.star-wars {
    margin-top: 7%;
    perspective: 800px;
    overflow: hidden;
    top: 25%
}

.crawl {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.content {
    width: 70%;
    font-size: 130%;
    text-align: justify;
}

/* Animation appliquée au lancement */
.animate .content {
    animation: crawl 140s linear infinite;
}

@keyframes crawl {
    0% {
      transform: rotateX(25deg) translateY(65vh);
    }
    100% {
      transform: rotateX(25deg) translateY(-300vh);
    }
}

h1 {
    text-align: center;
    font-size: 200%;
}