.controls {
    position: absolute;
    left: 1%;
}

.start-animation {
    background: none;
    border: 1px solid yellow;
    font-size: 110%;
    padding: 10px 20px;
    cursor: pointer;
}

.star-wars {
    margin-top: 7%;
    perspective: 800px;
    overflow: hidden;
}

.star-wars::after {
    content: '';
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
    background: linear-gradient(to top, transparent, black);
    pointer-events: none;
  }
.crawl {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(7deg);
    transform-origin: bottom center;
}

.content {
    width: 70%;
    font-size: 130%;
    text-align: justify;
}

/* Animation appliquée au lancement */
.animate .content {
    animation: crawl 70s linear infinite;
}

@keyframes crawl {
    0% {
      transform: rotateX(25deg) translateY(63vh) scale(1);
    }
    100% {
      transform: rotateX(25deg) translateY(-75vh) scale(0.5);
    }
}

h1 {
    text-align: center;
    font-size: 200%;
}