.controls {
    position: absolute;
    left: 1%;
}

.start-animation {
    background: none;
    border: 1px solid yellow;
    font-size: 110%;
    padding: 10px 20px;
    cursor: pointer;
}

.star-wars {
    margin-top: 4%;
    position: relative;
    height: 100vh;
    perspective: 1000px;
}

body.animation-active .star-wars {
    height: 100vh;
    overflow: hidden;
}

.fade-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent, black);
    pointer-events: none;
    display: none;
    z-index: 2;
}

.animate + .fade-gradient {
    display: block;
}

.crawl {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
    transform-style: preserve-3d;
    transform: rotateX(15deg);
}

.animate .crawl {
    bottom: 0;
}
.content {
    width: 70%;
    font-size: 130%;
    text-align: justify;
}

.animate .content {
    animation: crawl 160s linear forwards;
}

@keyframes crawl {
    0% {
        transform: rotateX(15deg) translateZ(0) translateY(50%);
    }
    100% {
        transform: rotateX(15deg) translateZ(-300px) translateY(-500%);
    }
}

h1 {
    text-align: center;
    font-size: 210%;
    color: black;
    -webkit-text-stroke: 2.5px yellow;
}
h2 {
    border-bottom: 2px solid yellow;
}
h2 + div {
    display: flex;
    flex-direction: column;
}
.maps {
    width: 30px;
    height: 45px;
}
.conteneur_maps {
    display: flex;
    justify-content: end;
}
.tmp {
    display: flex;
    align-items: center;
    gap: 3%;
}
.caracteristiques {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.sous_carac {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul {
    margin: 0;
}
li {
    list-style-type: none;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
}
input {
    display: none;
}
label {
    cursor: pointer;
}
.contenu {
    display: block;
    max-height: 0;
    overflow: hidden;
    text-align: start;
    margin-left: 4%;
    width: 475%;
}
.contenu > li {
    margin: 0.5%;
    width: 100%;
}
input:checked + label + .contenu {
    max-height: 10000px;
}
label > div {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 100%;
}
.div_jeux {
    width: 28%;
}
.div_sport {
    width: 17%;
}