body {
    position: fixed;
    height: 100%;
    width: 100%;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 320%;
    height: 75%;
    text-decoration: underline double;
}